
.vs/KNN/v17/ipch/AutoPCH/60eb91c04a2ca5d1/KNN.ipch
.vs/KNN/v17/Browse.VC.opendb
.vs/KNN/v17/Browse.VC.db-wal
.vs/KNN/v17/Browse.VC.db-shm
.vs/KNN/v17/Browse.VC.db
.vs/KNN/FileContentIndex/c55c78de-e2cb-4dab-8682-6637ad5874cb.vsidx
.vs/KNN/v17/Browse.VC.db
